services:
  audio_archive_cache:
    image: redis:7-alpine
    container_name: audio_archive_cache 
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  audio_catalog_database:
    image: postgres 
    container_name: media_catalog
    environment:
      POSTGRES_DB: media_catalog
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - /mnt/hdd/docker_volumes/pgsql:/var/lib/postgresql
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

    restart: unless-stopped

volumes:
  pgsql:
  redis_data:
